{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

            <div id="form-registerlogin" class="form-signup validate-form btn-block text-center">
                {# <h1>{{ 'listing.new.signup.title'|trans({},'cocorico_listing') }}</h1> #}
                <h1>{{ 'affiliation.title'|trans({},'stripeSign') }}</h1>
                <p>{{ 'affiliation.blabla'|trans({},'stripeSign') }}</p>


                <h5 style="color: red;">{{ afffr }}</h5>
                {#<p>{{ affen }}</p>#}

            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
