{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

            <div id="form-registerlogin" class="form-signup validate-form btn-block text-center">
                {# <h1>{{ 'listing.new.signup.title'|trans({},'cocorico_listing') }}</h1> #}
                <h1>{{ 'validationStripe.title'|trans({},'stripesign') }}</h1>
                <p>{{ 'validationStripe.blabla'|trans({},'stripesign') }}</p>
                {#Login And Register Form#}
                {# <form class="form-signup" action="{{ path("cocorico_user_login_check") }}"
                      method="POST">
                    

                    <div>
                       
                    </div>

                    <div class="btn-block text-center">
                        <button type="submit" class="btn btn-default">{{ 'user.login.submit'|trans }}</button>
                    </div>
                </form> #}
                

            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
