{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

            <div id="form-registerlogin" class="form-signup validate-form btn-block text-center">
                {# <h1>{{ 'listing.new.signup.title'|trans({},'cocorico_listing') }}</h1> #}
                <h1>{{ 'signupConfirmBecome.title'|trans({},'become') }}</h1>
                <p>{{ 'singupConfirmBecome.blabla'|trans({},'become') }}</p>
                {#Login And Register Form#}
                {#<form class="form-signup" action="{{ path("confirmbecome") }}"#}
                      {#method="POST">#}


                    {#<div>#}

                    {#</div>#}

                    {#<div class="btn-block text-center">#}
                        {#<button type="submit" class="btn btn-default">{{ 'user.become.submit'|trans({},'become') }}</button>#}
                    {#</div>#}
                {#</form>#}
                <a class="btn btn-default" target="_target" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_7vSEAY1UFQHmapqoQY9kXxlF99SDvYzz&scope=read_write">{{ 'singupStripe.button'|trans({},'stripesign') }}</a>

            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
