<style type="text/css">
  

  /*{
  font-family: "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}*/

/*html {
  height: 100%;
}
*/
/*body {
  background: #E6EBF1;
  align-items: center;
  min-height: 100%;
  display: flex;
  width: 100%;
}*/

.mform {
  width: 480px;
  margin: 20px auto;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
 /* margin-left: 20px;*/
  display: block;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 20%;
  text-align: right;
  float: left;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 70%;
  height: 40px;
  float: right;
} 

.field::-webkit-input-placeholder { color: #CFD7E0; }
.field::-moz-placeholder { color: #CFD7E0; }
.field:-ms-input-placeholder { color: #CFD7E0; }

button {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button:focus {
  background: #555ABF;
}

button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}
</style>

<script src="https://js.stripe.com/v3/"></script>
{# <form> #}
  {#<div class="group mform">#}
    {#<label>#}
      {#<span>Name</span>#}
      {# <input name="cardholder-name" class="field" placeholder="Jane Doe" /> #}
    {#</label>#}
    {#<label>#}
      {#<span>Phone</span>#}
      {# <input class="field" placeholder="(123) 456-7890" type="tel" /> #}
    {#</label>#}
  {#</div>#}
  <div class="group mform">
    <label>
      <span>{{ 'card.title'|trans({},'stripesign') }}</span>
      <div id="card-element" class="field"></div>
    </label>
  </div>
  {# <button type="submit">Pay $25</button> #}
  <div class="outcome mform">
    <div class="error" role="alert"></div>
    <div class="success hidden">
       <span class="token hidden"></span>
     {# <input type="hidden" id="mStripe"> #}
    </div>
  </div>
{# </form> #}

<script type="text/javascript">
  

// var stripe = Stripe('pk_test_sRio2WGNLMuo8F8jskcdzLaE');
  var stripe = Stripe('pk_live_jZp1UBgF0PBl7kZjENVRYCih');
var elements = stripe.elements();
 var form = document.querySelector('form');
 //var coucou = true;


var card = elements.create('card', {
  style: {
    base: {
      iconColor: '#666EE8',
      color: '#31325F',
      lineHeight: '40px',
      fontWeight: 300,
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSize: '15px',

      '::placeholder': {
        color: '#CFD7E0',
      },
    },
  }
});
card.mount('#card-element');

function setOutcome(result) {
  var successElement = document.querySelector('.success');
  var errorElement = document.querySelector('.error');
  successElement.classList.remove('visible');
  errorElement.classList.remove('visible');
 


  if (result.token) {
    // Use the token to create a charge or a customer
    // https://stripe.com/docs/charges
    successElement.querySelector('.token').textContent = result.token.id;
    successElement.classList.add('visible');

  //   document.querySelector('form').removeEventListener('submit', function(e) {
  // e.preventDefault();
  // $form.off();
  // card.off();

//   if (form.removeEventListener) {                   // For all major browsers, except IE 8 and earlier
//     form.removeEventListener("submit", mFunc);
// } else if (form.detachEvent) {                    // For IE 8 and earlier versions
//     form.detachEvent("submit", mFunc);
// }
//form.off();
// form=null;
// coucou=false; 
var mStripeInput = document.getElementById("stripeToken");
mStripeInput.outerHTML = "";

var form1 = document.getElementById('booking-new');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', result.token.id);
    hiddenInput.setAttribute('id', 'stripeToken'); 
    form1.appendChild(hiddenInput);

     // Submit the form
    form1.submit();


  } else if (result.error) {
    errorElement.textContent = result.error.message;
    errorElement.classList.add('visible');
    //coucou=true;
  }
}


card.on('change', function(event) {
  setOutcome(event);
});
//if(coucou){
form.addEventListener('submit', function mFunc(event){


  event.preventDefault();
  //var form = document.querySelector('form');
  var extraDetails = {
   // name: form.querySelector('input[name=cardholder-name]').value,
  };
  stripe.createToken(card, extraDetails).then(setOutcome);
});

// function mFunc(e) {


//   e.preventDefault();
//   //var form = document.querySelector('form');
//   var extraDetails = {
//     name: form.querySelector('input[name=cardholder-name]').value,
//   };
//   stripe.createToken(card, extraDetails).then(setOutcome);


// }
</script> 