{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

            <main id="main" role="main">

                <div class="container">
                    <div class="col-md-12">
                        <div class="">
                            <form role="form" action="{{ urlaction }}" id="become" method="post" name="become" novalidate="false">
                                <br style="clear:both">
                                <h1 style="margin-bottom: 25px; text-align: center;">{{ 'devenirpartenaireprofessionel.title'|trans({},'becomeproform') }}</h1>
                                <p>{{ 'enecrivant'|trans({},'becomeproform') }}</p>
                                <div class="form-group">
                                    <h3><strong>{{ 'perspective.title'|trans({},'becomeproform') }}</strong></h3>
                                    <p><em>{{ 'devenirpartenaireprofessionel.subtitle'|trans({},'becomeproform') }}</em></p>
                                    <textarea type="textarea" class="form-control" id="perspective" name="perspective" placeholder="{{ 'perspective.placeholder'|trans({},'becomeproform') }}" required maxlength="500" rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <h3><strong>{{ 'access.title'|trans({},'becomeproform') }}</strong></h3>

                                    <p><em>{{ 'access.subtitle'|trans({},'becomeproform') }}</strong></h3>
                                        </em></p>

                                    <textarea type="textarea" class="form-control" id="acces" name="acces" placeholder="{{ 'access.placeholder'|trans({},'becomeproform') }}" required maxlength="500" rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <h3><strong>{{ 'credibility.title'|trans({},'becomeproform') }}</strong></h3>

                                    <p><em>{{ 'credibility.subtitle'|trans({},'becomeproform') }}</em></p>


                                    <textarea type="textarea" class="form-control" id="credibility" name="credibility" placeholder="{{ 'credibility.placeholder'|trans({},'becomeproform') }}" required maxlength="500" rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <p><u>{{ 'frequency.subtitle'|trans({},'becomeproform') }}</u></p>

                                    <textarea type="textarea" class="form-control" id="frequency" name="frequency" placeholder="{{ 'frequency.placeholder'|trans({},'becomeproform') }}" required maxlength="500" rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <p><strong><u>{{ 'infofacultative.title'|trans({},'becomeproform') }}</u></strong></p>

                                    <p><em>{{ 'other.subtitle'|trans({},'becomeproform') }}</em></p>

                                    <textarea class="form-control" type="textarea" id="other" placeholder="{{ 'other.placeholder'|trans({},'becomeproform') }}" maxlength="500" rows="7"></textarea>

                                </div>
                                {#<p><input name="Envoyer" type="submit" value="Terminer et envoyer"></p>#}
                                <input type="submit" class="btn btn-success btn-send" value="{{ 'send'|trans({},'becomeproform') }}">

                                {#<button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>#}
                            </form>
                        </div>
                    </div>
                </div>
                {#<div class="container">#}
                    {#<div class="row">#}


                        {#<div class="min-height">#}
                            {#<h1>Devenir partenaire professionel aventour.net</h1>#}
                            {#<div>#}
                                {#<p>&nbsp;</p>#}

                                {#<p>En écrivant, pensez à la façon dont votre expérience rejoint les critères de qualité Aventour.net.</p>#}

                                {#<form action="https://www.aventour.net/fr/become" id="become" method="post" name="become" novalidate="novalidate">#}
                                    {#<h3><strong>Perspective</strong></h3>#}

                                    {#<p><em>Quelle passion, intérêt ou passe-temps aimeriez-vous faire partager sur aventour.net? Dans quel domaine êtes vous fortement impliqué? (Parapentes,...)</em></p>#}

                                    {#<p><span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 1198px; height: 50px;"><textarea name="perspective" required="required" style="resize: none; touch-action: none; overflow: hidden; width: 1148px; height: 40px;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical hide-scroll" style="touch-action: pan-x; position: absolute; height: 50px;"><div class="jcf-scrollbar-dec" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 18px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: -13px; height: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 1189px;"><div class="jcf-scrollbar-dec jcf-inactive"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 1161px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 0px; width: 1152px;"></div></div><div class="jcf-scrollbar-inc"></div></div></div><span class="jcf-resize" style=""></span></span></p>#}

                                    {#<h3><strong>Crédibilité</strong></h3>#}

                                    {#<p><em>Quand et comment avez-vous découvert cette passion, et comment continuez-vous à en apprendre sur le sujet&nbsp;?</em></p>#}

                                    {#<p><em>Vous pouvez indiquer tout exploit ou évenement qui vous donne de la crédibilité dans le domaine.</em></p>#}

                                    {#<p><span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 1198px; height: 50px;"><textarea name="credibility" required="required" style="resize: none; touch-action: none; overflow: hidden; width: 1148px; height: 40px;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical hide-scroll" style="touch-action: pan-x; position: absolute; height: 50px;"><div class="jcf-scrollbar-dec" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 18px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: -13px; height: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 1189px;"><div class="jcf-scrollbar-dec jcf-inactive"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 1161px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 0px; width: 1152px;"></div></div><div class="jcf-scrollbar-inc"></div></div></div><span class="jcf-resize" style=""></span></span></p>#}

                                    {#<h3><strong>Accès</strong></h3>#}

                                    {#<p><em>À quoi pouvez-vous donner un accès privilégié à vos voyageurs afin que votre expérience sorte du lot&nbsp;?</em></p>#}

                                    {#<p><em>Pouvez vous amenez les voyageurs dans un lieu particulier?</em></p>#}

                                    {#<p><span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 1198px; height: 50px;"><textarea name="acces" required="required" style="resize: none; touch-action: none; overflow: hidden; width: 1148px; height: 40px;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical hide-scroll" style="touch-action: pan-x; position: absolute; height: 50px;"><div class="jcf-scrollbar-dec" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 18px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: -13px; height: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 1189px;"><div class="jcf-scrollbar-dec jcf-inactive"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 1161px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 0px; width: 1152px;"></div></div><div class="jcf-scrollbar-inc"></div></div></div><span class="jcf-resize" style=""></span></span></p>#}

                                    {#<p><u>À quelle fréquence souhaitez-vous organiser vos activités (Quotidienement,...)?</u></p>#}

                                    {#<p><span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 1198px; height: 50px;"><textarea name="frequency" required="" style="resize: none; touch-action: none; overflow: hidden; width: 1148px; height: 40px;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical hide-scroll" style="touch-action: pan-x; position: absolute; height: 50px;"><div class="jcf-scrollbar-dec" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 18px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: -13px; height: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 1189px;"><div class="jcf-scrollbar-dec jcf-inactive"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 1161px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 0px; width: 1152px;"></div></div><div class="jcf-scrollbar-inc"></div></div></div><span class="jcf-resize" style=""></span></span></p>#}

                                    {#<p><strong><u>Informations facultatives</u></strong></p>#}

                                    {#<p><em>Y-a t-il autre choses à savoir à votre sujet? Êtes-vous célèbre pour votre passion&nbsp;? Si vous le souhaitez, ajoutez des liens vers votre compte Instagram, Twitter ou Facebook, votre blog personnel ou des articles que vous avez écrits ou qui vous concernent.&nbsp;</em></p>#}

                                    {#<p><span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 1198px; height: 50px;"><textarea name="other" style="resize: none; touch-action: none; overflow: hidden; width: 1148px; height: 40px;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical hide-scroll" style="touch-action: pan-x; position: absolute; height: 50px;"><div class="jcf-scrollbar-dec" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 18px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: -13px; height: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 1189px;"><div class="jcf-scrollbar-dec jcf-inactive"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 1161px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 0px; width: 1152px;"></div></div><div class="jcf-scrollbar-inc"></div></div></div><span class="jcf-resize" style=""></span></span></p>#}

                                    {#<p><input name="Envoyer" type="submit" value="Terminer et envoyer"></p>#}
                                {#</form>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}



            </main>
        {% endblock %}


    {% endembed %}


{% endblock layout %}
