.visual{

    margin:0;
    padding:0;
    background: url(../../../images/bg-section.jpg) no-repeat 96% fixed #58595b;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */


}

.backgroundblack{

    background-color: #00000070;
}

@media (min-width: 769px)
{.plus769notdisplay {
    display: none;
}
    .visual{
        padding-bottom: 13em;
    }
}



@media (max-width: 768px){
    .moin768notdisplay {
    display: none;
}
    .visual{
        padding-bottom: 7em;
    }
    .gallery-slider .slide img, .gallery-small .slideset .slide img, #listing_images .files-list .img-thumbnail img, #images-new .image-upload-holder .img-holder img, #user_images .list-inline .img-thumbnail img, .listing-box .frame .post-content .alignleft img, #sidebar .holder .author-area .author-img img, .head .author-img .img-holder img, .area .box .author-detail .author-img img, #messaging .listing-detail .area .img-holder img, #properties .listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img, #sidebar .holder .similar-ads .listing-holder .post .alignleft .listing-post img, #messaging .postarea .posts-holder .post .post-area .img-holder img, #reservations .postarea .posts-holder .post .post-area .img-holder img, #comments .postarea .posts-holder .post .img-holder img, .container .row .twocolumns .listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img, .vertical-holder .vertical-slider .vertical-slideset .vertical-slide img, .listing-area .listing-holder .listing-post .listing-box .frame .post-info .img-holder img {

        margin: 0;
        
    }
}
