.visual{

    margin:0;
    padding:0;
    background: url(../../../images/bg-section.jpg) no-repeat center fixed #58595b;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */


}

.backgroundblack{

    background-color: #00000070;
}